.friend-search-container{
    display: flex;
}
.friend-search-container input{
    width: 100%;
    border: none;
    border-bottom: 2px solid gainsboro;
}

.user-img{
    height: 42px;
    width: 42px;
    border-radius: 50%;
    object-fit: cover;
}
.friend-search-container{
    display: flex;
}
.friendList{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.listItem{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: start;
    margin-top: 10px;}
    
    .friend-name{
        font-weight: bold;
        font-size: 15px;
    }
.pointer{
    cursor: pointer;
}