.user-info-wrapper {
  flex: 9.5;
  display: flex;
  flex-direction: column;
}
.cover-dp-container {
  position: relative;
  height: 450px;
}
.cover-img {
  height: 350px;
  object-fit: cover;
  width: 100%;
  position: relative;
}

.dp {
  height: 150px;
  width: 150px;
  border-radius: 150px;
  object-fit: cover;
  border: 5px solid #fff;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 340px;
}
.user-info{
    text-align: center;
    padding: 10px 10%;
}
.user-info h2 {
 margin-bottom: 10px;
}